<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.theymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Get and Post with DB</title>
        <link rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src="@{/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/client.js}"></script>
    </head>
    <body>
        <h1>This is the Index Page</h1>
        <h2 style="color: red">Student Search Form</h2>
        <div class="divStyle1">
            <div class="divStyle2">
                <form>
                    <input type="text" id="searchEntry" placeholder="Enter ID to Search"/>
                    <button id="btnSubmit2">Submit</button>
                </form>
            </div>
            <div id="foundStudent"></div>
        </div>
        <h2 style="color: cornflowerblue">Student Entry Form</h2>
        <div class="divStyle1">
            <form>
                <input type="text" id="idEntry" placeholder="Enter ID#"/>
                <input type="text" id="fNameEntry" placeholder="Enter First Name"/>
                <input type="text" id="lNameEntry" placeholder="Enter Last Name"/>
                <input type="text" id="zipEntry" placeholder="Enter Zip Code"/>
                <button id="btnSubmit1">Submit</button>
            </form>
        </div>
        <div id="allStudentsList" class="divStyle3"></div>
    </body>
</html>